html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  width: 100vw;
  height: 100vh;
}
canvas {
  background-color: cadetblue;
  /* width: 100%;
  height: 100%;
  display: block;
  border: 2px solid orange;
  object-fit: contain; */
}